/* Reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
  width: 100%;
}

body {
  font-family: Inter, system-ui, sans-serif;
  overflow-x: hidden;
}


.dark {
  --bg-main: #0a0a1a;
  --text-main: #e9d5ff;
  --glass-bg: rgba(20, 10, 40, 0.7);

  --accent: #9933ff;

  --toggle-bg: rgba(153, 51, 255, 0.25);
  --toggle-text: #e9d5ff;
}

html,
body {
  background: #0a0a1a !important;
}
